{# Ward template: .github/workflows/codeql.yml for Gradle projects #}
name: CodeQL

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: '00 0 * * 0'

env:
  JAVA_VERSION: {{ java_version | default(value="21") }}

jobs:
  analyze:
    name: Analyze Java/Kotlin
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - language: java-kotlin
            build-mode: manual
          - language: actions
            build-mode: none
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - if: matrix.language == 'java-kotlin'
        name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ "{{" }} env.JAVA_VERSION {{ "}}" }}

      - if: matrix.language == 'java-kotlin'
        name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper
          cache-read-only: true

      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ "{{" }} matrix.language {{ "}}" }}
          build-mode: ${{ "{{" }} matrix.build-mode {{ "}}" }}

      - if: matrix.language == 'java-kotlin'
        name: Gradle Build
        run: ./gradlew build -x test --rerun-tasks

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:${{ "{{" }}matrix.language{{ "}}" }}"
